body{
    background-color: #111;
    color: #fff;
}
.card{
    background-color: #333;
}
.navbar{
    background : linear-gradient(to top, #111 , #222 , #333 , #444) !important;
    border-bottom: 1px solid white;

}
.navbar .navbar-brand ,.nav-link  {
    color: white !important;
}

table , tr , td{
 color: white ;
}

