body{
    background-color: #111;
    color: #fff;
}
.card{
    background-color: #333;
}
.navbar{
    background : linear-gradient(to right, #111 , #222 , rgb(73, 42, 42) , rgb(219, 88, 88)) !important;
    border-bottom: 1px solid white;

}
.navbar .navbar-brand ,.nav-link  {
    color: white !important;
}

table , tr , td{
 color: white ;
}

