body{
    /* background-image: url(../img/Moon.jpg); */
    background-size:cover;
    background-attachment: fixed;
}
#main{
    background-image: url(../img/helwan.jpg);
    background-size: 150px 100px;
    background-repeat: no-repeat;
}
.navbar .navbar-brand ,.nav-link  {
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.card{
    box-shadow: 10px 10px 10px rgb(88, 88, 88);
}
.bgen{
font-family: Georgia, 'Times New Roman', Times, serif;
text-shadow: 5px 5px 10px rgb(134, 143, 226)
}
